@import "bootstrap-sprockets";
@import "bootstrap";
@import "notifications";
@import "phrases";
@import "examples";
@import "users";

td {
  font-size: 1.3rem;
}

.upvote {
  color: lightgreen;
}

.downvote {
  color: red;
}

.alert{
  color: black;
  border: 1px solid lightgrey;
  background-color: #f0f0f0;
  text-align: center;
  opacity: 1;
  animation: fadeIn 2s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

.alert-success {
  background-color: #d9f4de;
  color: black
}

.alert-notice {
  background-color: #d9f4de;
  color: black
}

.alert-danger {
  background-color: #f9c5c5;
  color: black
}

@keyframes fadeIn {
  from { opacity: 1; }
  to {
    opacity: 0;
    padding: 0px;
  }
}